# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
symphoni-ui/node_modules
symphoni-ui/bower_components

# testing
/coverage

# production
/build

# configuration files
symphoni-ui/src/config.js
symphoni-api/config.ini

# virtual environment
/symphoni-api/env/*

# python cache
symphoni-api/__pycache__
symphoni-api/resources/__pycache__
symphoni-ui/Tests/__pycache__

# ssh key
SSH_Symphoni.pem

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
