#html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: ghostwhite;
}

img {
  width: 3em;
  height: 3em;
}

.flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flex-horizontal-center {
  margin: 0 auto;
}

.flex-center {
  margin: auto;
}

.max-height {
  height: 100% !important;
}

.max-width {
  width: 100%;
}

.queue-entry {
  height: 48px;
}
