/****************************************/
/*                General               */
/****************************************/

html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #eceff1;
}

img {
  width: 3em;
  height: 3em;
}

.flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flex-horizontal-center {
  margin: 0 auto;
}

.flex-center {
  margin: auto;
}

.max-height {
  height: 100% !important;
}

.max-width {
  width: 100%;
}

.fullscreen {
  position: relative;
  height: 100vh;
  width: 100vw;
}

button.back-btn {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

i.back-arrow {
  top: -0.5px;
  position: absolute;
  left: 8px;
  font-size: 1.5rem;
}
/* label focus color */
.input-field input:focus + label {
  color: #546e7a !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #546e7a !important;
  box-shadow: 0 1px 0 0 #546e7a !important;
}
