.centerList {
  position: absolute;
  z-index: 1;
  width: 100%;
  /* padding: 20px; */
  /* padding-left: 10px; */
  /* margin: 10px; */
  height: 17.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  border: none;
  border-radius: 6px;
  padding: 1px;
  background-color: rgba(164, 181, 187, 0.9);
}

.searchItem {
  width: 100%;

  border-radius: 100px;
  text-align: center;
  color: black;
  background-color: white;
  background: #e8e8e8;
}

.searchItem:hover {
  background-color: #546e7a;
  color: white;
}

.typeSearch {
  border-bottom: 1px solid #546e7a !important;
  box-shadow: 0 1px 0 0 #546e7a !important;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* font-family: "Raleway", sans-serif; */
